.material-icons {
  .mat-icon {
    line-height: 1 !important;
  }
  .mat-button-focus-overlay {
    display: none;
  }
}

.mat-button-focus-overlay {
  background-color: transparent !important;
}

.mat-flat-button {
  margin-top: 24px !important;
  padding: 6px 0 !important;
  width: 100%;
  background: var(--color-button-primary);
  color: var(--color-text-secondary);
  font-size: 16px;
  font-weight: bold;
  &.mat-button-disabled {
    background-color: var(--color-button-secondary) !important;
  }
}

.mat-fab {
  background: var(--color-button-primary);
  color: var(--color-text-secondary);
  position: fixed !important;
  bottom: 40px;
  right: 40px;
  z-index: 3;
  &.mat-accent {
    background: var(--color-button-primary);
    color: var(--color-text-secondary);
  }
  .mat-button-wrapper {
    padding: 0 !important;
    transform: rotate(90deg);
  }
}

.mat-button-wrapper {
  color: var(--color-text-secondary);
}
