.cdk-overlay-backdrop {
  background: radial-gradient(#000, transparent) !important;
}

mat-dialog-container {
  padding: 0 !important;
}

.mat-dialog-content {
  margin: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}
