input {
  width: 100%;
  height: 48px;
  border-radius: 4px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

input::-ms-clear {
  display: none;
}

input::placeholder {
  opacity: 1;
}
