.layout-container {
  background-image: url("../../img/background.png");
  background-color: var(--color-background-image-primary);
  background-position: top left;
  background-size: cover;
  .dashboard-container {
    // 86px = toolbar (64px) + footer (20px)
    height: calc(100vh - 84px) !important;
    overflow: auto !important;
  }
}
