.snackbar-success {
  background: green !important;
  color: white !important;
}

.snackbar-error {
  background: red !important;
  color: white !important;
}

.snackbar-warning {
  background: orange !important;
  color: white !important;
}
