<div class="cart-container w-100 h-100">
    <h1>{{ "shopping-cart.display" | translate }}</h1>
    <div class="cart-list head row">
        <div class="col-45">{{ "product.display" | translate }}</div>
        <div class="col-20">{{ "product.fields.quantity" | translate }}</div>
        <div class="col-20">{{ "product.fields.price" | translate }}</div>
        <div class="col-15">{{ "product.fields.total" | translate }}</div>
    </div>
    <div class="cart-list">
        <app-cart-item *ngFor="let cartItem of cart" [cartItem]="cartItem" (addClick)="updateCart()" (removeClick)="updateCart()"
            (openDialogClick)="openDialog($event)">
        </app-cart-item>
    </div>
</div>

<!-- TODO Create dynamic modal component with ComponentFactoryResolver -->
<ng-template #productDialog></ng-template>