.cart-container {
  h1 {
    padding-bottom: 16px;
    border-bottom: var(--color-border-primary);
  }
  .cart-list {
    color: var(--color-text-primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
  }

  .head {
    padding: 32px 0;
  }
}

@media (max-width: 767px) {
  .cart-container {
    h1 {
      font-size: 18px;
      padding-bottom: 8px;
    }
    .cart-list {
      letter-spacing: 0;
      &.row {
        flex-flow: row;
      }
    }

    .head {
      padding: 0;
    }
  }
}
