.image-container {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.information-container {
  flex-direction: column;
  .title-container {
    border-bottom: var(--color-border-primary);
    margin-bottom: 16px;
    h3 {
      color: var(--color-text-tertiary);
      font-weight: bold;
    }
  }
  .description {
    border-bottom: var(--color-border-primary);
    padding-bottom: 26px;
  }
  .mat-icon-button {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  mat-icon {
    height: 24px !important;
    width: 24px !important;
    font-size: 24px;
    color: var(--color-icons-tertiary);
  }
}

@media (max-width: 767px) {
  .information-container {
    .mat-icon-button {
      top: 0;
      right: 0;
    }
  }
}

@media (max-width: 1024px) {
  .dialog-container {
    &.row {
      flex-flow: column;
    }
    .button-add {
      margin-bottom: 12px;
    }
  }
}
