<ng-template #dialog let-data>
    <div class="dialog-container row w-100 h-100">
        <div class="col-12 col-md-12 col-xl-8 image-container">
            <img src="{{pathImgXLProduct}}{{product.image}}" alt="{{product.name}}" />
        </div>
        <div class="col-12 col-md-12 col-xl-4 information-container px-4">
            <button mat-icon-button [disableRipple]="true" (click)="close()">
                <mat-icon class="material-icons-outlined">close</mat-icon>
            </button>
            <div class="title-container d-flex align-items-center justify-content-between w-100">
                <h3>{{product.type}}
                </h3>
                <h3>{{product.price}}€</h3>
            </div>
            <p class="description">{{product.description}}</p>
            <p class="text-start w-100">{{ "product.fields.code" | translate }} {{product.code}}</p>
            <button class="button-add" mat-flat-button [disableRipple]="true" (click)="addClick.emit()"> {{ "shopping-cart.add-cart" | translate
                }}
            </button>
        </div>
    </div>
</ng-template>