<div class="cart-item-container row py-2">
    <div class="col-45">
        <figure class="product-image d-flex align-items-center flex-row">
            <img src="{{pathImgProduct}}{{cartItem.product.image}}" alt="{{cartItem.product.name}}" />
            <div class="product-container">
                <div class="product-title d-flex align-items-center justify-content-between w-100">
                    <h1>{{cartItem.product.type}}
                    </h1>
                    <mat-icon (click)="openDialogClick.emit(cartItem.product)" class="material-icons-outlined">visibility
                    </mat-icon>
                </div>
                <p class="product-code"><span>{{ "product.fields.code" | translate }}</span> {{cartItem.product.code}}</p>
            </div>
        </figure>
    </div>
    <div class="col-20">
        <button class="count" (click)="removeItem()">-</button><input type="text" class="cart-item-quantity" value="{{cartItem.quantity}}"
            readonly /><button class="count" (click)="addItem()">
            +
        </button>
    </div>
    <div class="col-20">
        <span class="product-price">{{cartItem.product.price}}€</span>
    </div>
    <div class="col-15">
        <span class="product-price">{{cartItem.quantity * cartItem.product.price}}€</span>
    </div>
</div>