.cart-item-container {
  .product-title {
    cursor: pointer;
    margin: 6px 0 16px 0;
    border-bottom: var(--color-border-primary);
    h1 {
      font-size: 18px;
      font-weight: 500;
      color: var(--color-background-primary);
      margin: 0;
    }
    mat-icon {
      font-size: 26px;
      height: 26px !important;
      color: var(--color-button-primary);
    }
  }

  .product-image {
    img {
      margin-right: 16px;
      width: 72px;
      height: 72px;
      border: 1px solid rgba(33, 34, 64, 0.16);
      border-radius: 4px;
    }
  }

  .product-code {
    font-size: 12px;
    line-height: 16px;
    border-radius: 4px;
    color: var(--color-text-primary);
    letter-spacing: 0.13px;
    font-weight: 400;
  }

  .cart-item-quantity {
    font-size: 14px;
    line-height: 17px;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(33, 34, 64, 0.16);
    border-radius: 4px;
    text-align: center;
  }

  .product-price {
    color: var(--color-text-tertiary);
    font-size: 16px;
  }

  button.count {
    font-size: 20px;
    line-height: 25px;
    padding: 0 8px;
    height: 40px;
    border: none;
    background: transparent;
    color: var(--color-button-primary);
    font-weight: bold;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .cart-item-container {
    &.row {
      flex-flow: row;
    }

    .product-title {
      h1 {
        font-size: 12px;
      }
      mat-icon {
        font-size: 16px;
        height: 16px !important;
      }
    }

    .product-image {
      img {
        margin-right: 8px;
        width: 42px;
        height: 42px;
      }
    }

    .product-code {
      span {
        display: none;
      }
    }
    .cart-item-quantity {
      font-size: 12px;
      line-height: 12px;
      width: 24px;
      height: 24px;
    }

    .product-price {
      font-size: 12px;
    }

    button.count {
      font-size: 18px;
      padding: 0 6px;
    }
  }
}
