<div class="summary-container d-flex flex-column w-100 h-100">
    <h1>{{ "summary.display" | translate }}</h1>
    <div class="summary-items d-flex justify-content-between wrapper border">
        <span class="summary-items-number">{{totalItems}} {{ "summary.fields.items" | translate }}</span><span
            class="summary-items-price">{{totalItemsPrice}}€</span>
    </div>
    <div class="summary-discounts wrapper-half border">
        <h2>{{ "summary.fields.discounts" | translate }}</h2>
        <div class="promotion-container d-flex justify-content-between" *ngFor="let promotion of promotions">
            <span>{{promotion.name}}</span><span class="promotion-discount">{{getDiscount(promotion)}}</span>
        </div>
    </div>
    <div class="summary-total wrapper">
        <div class="d-flex justify-content-between">
            <span class="summary-total-cost">{{ "summary.fields.total" | translate }}</span><span class="summary-total-price">{{total}}€</span>
        </div>
        <button mat-flat-button [disableRipple]="true" [disabled]="totalItems === 0" (click)="checkoutClick.emit()"> {{ "summary.checkout" | translate
            }}
        </button>
    </div>
</div>