.summary-container {
  & > * {
    width: 100%;
  }

  h1 {
    padding-bottom: 16px;
    border-bottom: var(--color-border-primary);
  }

  .summary-items-price {
    font-size: 16px;
    font-weight: bold;
  }

  .summary-total-price {
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
  }

  .summary-total {
    align-self: flex-end;
    margin-top: auto;
    padding-top: 16px;
    padding-bottom: 0;
    border-top: var(--color-border-primary);
    color: var(--color-text-tertiary);
  }

  .summary-total-cost {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
  }

  .promotion-container {
    margin-top: 12px;
    font-size: 14px;
    line-height: 17px;
  }

  .promotion-discount {
    font-weight: bold;
  }

  .wrapper {
    &.border {
      padding: 32px 0;
      border: none !important;
      border-bottom: var(--color-border-primary) !important;
    }
  }

  .wrapper-half {
    padding: 24px 0;
    border: none !important;
  }
}

@media (max-width: 767px) {
  .summary-container {
    h1 {
      font-size: 18px;
      padding-bottom: 8px;
      margin: 0;
    }

    h2 {
      font-size: 14px;
      margin-bottom: 8px;
    }

    .summary-items-price {
      font-size: 14px;
    }

    .summary-total-price {
      font-size: 18px;
    }

    .wrapper.border,
    .wrapper-half {
      padding: 16px 0;
    }
  }
}
