<div class="dashboard-container d-flex align-items-center justify-content-center">
    <div class="cart-container row">
        <app-shopping-cart class="col-12 col-md-8 col-xl-8" [cart]="cart"></app-shopping-cart>
        <app-summary class="col-12 col-md-4 col-xl-4" [cart]="cart" (checkoutClick)="checkoutCart()"></app-summary>
    </div>
    <button mat-fab (click)="scanProducts()">
        <mat-icon class="material-icons-outlined">document_scanner</mat-icon>
    </button>
</div>