.cart-container {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 1088px;
  max-height: 648px;
  width: calc(100% - 64px);
  height: calc(100% - 64px);
  border-radius: 4px;
  background-color: var(--color-background-secondary);

  app-shopping-cart,
  app-summary {
    padding: 40px 32px;
  }

  app-summary {
    background-color: var(--color-background-tertiary);
    color: var(--color-text-tertiary);
    & > * {
      width: 100%;
    }
  }
}

@media (max-width: 767px) {
  .cart-container {
    app-shopping-cart,
    app-summary {
      padding: 12px;
    }
  }
}
