@import "../src/assets/styles/cbf-style";

/* LAYOUT */
@import "../src/assets/styles/components/layout";

/* TOOLBAR */
@import "../src/assets/styles/components/toolbar";

/* FOOTER */
@import "../src/assets/styles/components/footer";

/* MENU */
@import "../src/assets/styles/components/menu";

/* BUTTON */
@import "../src/assets/styles/components/button";

/* INPUT */
@import "../src/assets/styles/components/input";

/* SNACKBAR */
@import "../src/assets/styles/components/snackbar";

/* DIALOG */
@import "../src/assets/styles/components/dialog";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: Avenir, "Avenir Next", "Segoe UI", sans-serif;
  font-weight: regular;
}

html,
body,
div,
span,
h1,
h2,
p,
button,
img {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: 100%;
}

h1 {
  position: relative;
  letter-spacing: -0.18px;
  font-size: 18px;
  line-height: 24px;
}

h2 {
  color: var(--color-text-primary);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  font-weight: 300;
}

h2 + * {
  margin-top: 16px;
}

.row {
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0;
}

.row + .row {
  margin-top: 32px;
}

.row > * {
  padding: 0;
}

[class*="col-"] {
  display: flex;
  align-items: center;
}

[class*="col-"]:nth-child(n + 2) {
  justify-content: center;
}

.col-45 {
  width: 45%;
}

.col-20 {
  width: 20%;
}

.col-15 {
  width: 15%;
}

@media (max-width: 767px) {
  .row {
    flex-flow: column;
  }
}
