@use "sass:map";

/*COLORS*/

:root {
  --color-background-primary: #7145d6;
  --color-background-secondary: #fff;
  --color-background-tertiary: #f3f3f3;
  --color-background-image-primary: #212240;
  --color-text-primary: #a6a7b3;
  --color-text-secondary: #fff;
  --color-text-tertiary: #212240;
  --color-icons-primary: #fff;
  --color-icons-secondary: #000;
  --color-icons-tertiary: #a6a7b3;
  --color-button-primary: #7145d6;
  --color-button-secondary: #a6a7b3;
  --color-action-text: #fff;
  --color-action-bg: #44307a;
  --color-action-bg-hover: #372d5e;
  --color-action-bg-active: #5b39a8;
  --color-border-primary: 1px solid rgba(33, 34, 64, 0.16);
}
